@keyframes rotating-y {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.rotating-y {
  animation: rotating-y 1s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotating 1s linear infinite;
}

.ellipsising:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: ellipsis-grow steps(4, end) 1s infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis-grow {
  to {
    width: 1.25em;
  }
}
